<div class="container mt-3">
    <div>
        <button [routerLink]="['/']" class="btn btn-primary mb-3">
            <span class="fa fa-arrow-left"></span>
            Back
        </button>
    </div>
    <div>
        <h1>{{recipe.name}}</h1>
        <p><b>Course:</b> {{recipe.course.name}}</p>
        <div>
            <h3>Ingredients</h3>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient.name}} - {{ingredient.quantity}}
                </li>
            </ul>
        </div>
        <div>
            <h3>Directions</h3>
            <div class="directions">{{recipe.directions}}</div>
        </div>
    </div>
</div>