<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container navbar-container">
        <div class="navbar-brand">
            <img src="https://cdn0.iconfinder.com/data/icons/people-occupations-icons-rounded/110/Chef-1-512.png" />
        </div>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-3">
                    <a class="nav-link" [routerLink]="['/']">Browse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/create']">Create</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
