<div class="container mt-3">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Recipe Name</span>
        </div>
        <input class="form-control" [(ngModel)]="recipeName" placeholder="Enter recipe name" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Course</span>
        </div>
        <select class="custom-select" [(ngModel)]="selectedCourseId">
            <option hidden disabled value="" selected>Select a Course</option>
            <option
                *ngFor="let course of courses"
                [selected]="course.courseId === selectedCourseId"
                [value]="course.courseId"
            >
                {{course.name}}
            </option>
        </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Directions</span>
        </div>
        <textarea class="form-control" rows="5" [(ngModel)]="directions" placeholder="Enter directions"></textarea>
    </div>
    <table class="table table-bordered ingredients-table">
        <thead>
            <th>Ingredient</th>
            <th>Quantity</th>
        </thead>
        <tbody>
            <tr *ngFor="let ingredient of ingredients">
                <td>{{ingredient.name}}</td>
                <td>{{ingredient.quantity}}</td>
                <td class="symbol-cell">
                    <button class="btn ingredient-button ingredient-button-remove" (click)="removeIngredient(i)">
                        <span class="fa fa-close"></span>
                    </button>    
                </td>
            </tr>
            <tr>
                <td class="ingredient-input-cell">
                    <input class="form-control ingredient-input" [(ngModel)]="newIngredientName" placeholder="Enter ingredient name" />
                </td>
                <td class="ingredient-input-cell">
                    <input class="form-control ingredient-input" [(ngModel)]="newIngredientQuantity" placeholder="Enter ingredient quantity" />
                </td>
                <td class="symbol-cell">
                    <button class="ingredient-button-add" (click)="addIngredient()">
                        <span class="fa fa-plus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" (click)="saveRecipe()">
            Save
        </button>
    </div>
</div>